* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #ffffff;
  color: #111827;
  scroll-behavior: smooth;
}

section {
  padding: 100px 6%;
}
body{
  overflow-x:hidden;
}